* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.course-info {
    position: relative;
    width: 100%;
}

.course-info img {
    width: 100%;
    height: 100%;
}





.course-info h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.course-info p {
    color: #fff;
    font-size: 1em;
    margin-bottom: 30px;
}

.course-description {
    padding: 30px;
    background-color: #fff;
}

.course-description h2 {
    font-size: 1.8em;
    color: #2c802c; /* Màu xanh tiêu đề */
    margin-bottom: 15px;
}

